.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container section {
  flex: 1 1 100%;
  min-width: 100%;
}

.container section:nth-child(odd) {
  background-color: var(--primary-colorGreen);
}

.container section:nth-child(even) {
  background-color: var(--secondary-colorWhite);
}

Header {
  height: 125px;
  display: flex;
  padding-left: 20%;
  background-color: var(--secondary-colorWhite);
  align-items: center;
  flex-wrap: nowrap;
}

.navbar {
  list-style-type: none;
  display: flex;
  white-space: nowrap;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: var(--secondary-colorBlack) ;
  font-family: 'Karla';
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  color: var(--primary-colorGreen);
}

h1{
  font-size: 64px;
  font-family: 'Markazi Text';
  color: var(--primary-colorYellow);
}

h2{
  font-size: 40px;
  font-family: 'Karla';
  color: var(--secondary-colorBlack);
}

h3{
  font-size: 40px;
  font-family: 'Markazi Text';
  color: var(--secondary-colorWhite);
}

.lead-text {
  font-family: 'Karla';
  font-size: 18px;
}